<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <h1>Add My Books</h1>
  <form action="/user/addBooks" method="post">

    <label for="name">book name:</label>
    <p>
      <input type="text" name="name" id="name">
    </p>

    <label for="author">book Author:</label>
    <p>
      <input type="text" name="author" id="name">
    </p>

    <label for="time">book create time:</label>
    <p>
      <input type="text" name="time" id="name">
    </p>

    <label for="name">book price:</label>
    <p>
      <input type="text" name="price" id="name">
    </p>

    <button type="submit">Add</button>
    <button>empty</button>

  </form>
</body>

</html>