<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="book-list">
  <h1>My Book List</h1>
  <table class="list-table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Author
        </th>
        <th>
          Create Time
        </th>
        <th>
          Price
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>name one</td>
        <td>author one</td>
        <td>time one</td>
        <td>price one</td>
        <td>
          <button>More</button><button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/">Go Home</a>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script>
    $.get('/user/getBookList', function(data) {
      console.log(data)
    })
  </script>
</body>

</html>