<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  //  href="http://www.baidu.com"
  <a href="http://www.baidu.com">
    <div id="box">click Me</div>
  </a>
  <script>
  
  box.onclick = function(e) {
    console.log(e)
    e.preventDefault()
  } 

  var obj = {
    123: {
      id:'2019-12-10 20:14:27'
    },
    222: {
      id:'2019-12-11 20:14:27'
    },
    333: {
      id:'2019-11-10 20:14:27'
    },
    444: {
      id:'2019-12-22 20:14:27'
    },
    555: {
      id:'2019-2-10 20:14:27'
    }
  }
  function fun(id) {
    return function(a, b) {
      return a[id] = b[id]
    }
  }
  var arr = []

  var a= {
    0:{a:0},
    1:{a:11},
    2:{a:22},
    157682146332303390:{a:1321},
    157598006714429293:{a:2222},
    156955093063462108:{a:343123}
  }
  arr = Object.keys(a)
console.log(arr)
  </script>
</body>
</html>